@media(min-width:481px) {
  :root {
    --ingredientsContainer-top  : 38%;
    --ingredientsContainer-left : 42%;
    --ingredientsContainer-width: 10vw;

    --poke-height: 35vw;
    --poke-top   : 0;
  }
}

@media(max-width:480px) {

  :root {
    --ingredientsContainer-top  : 39%;
    --ingredientsContainer-left : 39%;
    --ingredientsContainer-width: 9vh;

    --poke-height: 40vh;
    --poke-top   : -1vh;
  }
}


.Poke {
  background-image   : url(../../assets/images/pokeIngredients/EmptyBowl.jpg);
  background-position: center;
  background-size    : contain;
  background-repeat  : no-repeat;
  position           : relative;
  list-style         : none;
  display            : block;
  align-content      : center;
  margin             : auto;
  height             : var(--poke-height);
  top                : var(--poke-top)
}

.IngredientsContainer {
  position: absolute;
  top     : var(--ingredientsContainer-top);
  left    : var(--ingredientsContainer-left);
  width   : var(--ingredientsContainer-width);
}