@media(min-width:481px) {
    :root {
        --navItem-font-size         : 1.5vmax;
        --navItem-margin-topbottom  : 2vh;
        --navItem-a-margin-leftright: 4em;

    }
}

@media(max-width:480px) {
    :root {
        --navItem-font-size         : 3vh;
        --navItem-margin-topbottom  : 3vh;
        --navItem-a-margin-leftright: 0;

    }
}

.NavigationItem {
    font-size     : var(--navItem-font-size);
    font-family   : 'Oswald', sans-serif;
    font-weight   : 500;
    letter-spacing: 1px;
    margin        : var(--navItem-margin-topbottom) 0;
    padding       : 0.2em 0 0;

}

.NavigationItem a {
    color          : #FFF;
    text-decoration: none;
    text-shadow    : .04em .04em 0 #9cb8b3;

    padding : 0.2em;
    margin  : 0 var(--navItem-a-margin-leftright);
    position: relative;
    z-index : 97;
}

.NavigationItem a:before,
.NavigationItem a:after {
    position  : absolute;
    left      : 0px;
    width     : 100%;
    height    : 2px;
    background: #FFF;
    content   : "";
    opacity   : 0;
    transition: all 0.3s;
}

.NavigationItem a:before {
    top      : 0px;
    transform: translateY(1em);
}

.NavigationItem a:after {
    bottom   : 0px;
    transform: translateY(-1em);
}

.NavigationItem a:hover:before,
.NavigationItem a:hover:after {
    opacity  : 1;
    transform: translateY(0px);
}