.Toolbar {
    height          : 70px;
    width           : 100vw;
    position        : fixed;
    top             : 0px;
    left            : 0px;
    background-color: transparent;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    padding         : 0 20px;
    box-sizing      : border-box;
    z-index         : 97;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 100%;
    left  : 0;
}

@media(max-width: 480px) {
    .DesktopOnly {
        display: none;
    }

}