.Ingredients {
  z-index : 2;
  position: absolute;
}

.IngredientsBase {
  z-index    : 1;
  width      : 100%;
  margin-top : -40%;
  margin-left: -33%;
  transform: scale(1.05);
}

.Ingredients img,
.IngredientsBase img {
  display   : block;
  max-width : 165%;
  transition: .15s;
  margin    : auto;
  animation : gelatine 0.5s;
}

.Ingredients img {
  width      : 90%;
  margin-left: 6%;
}



@keyframes gelatine {

  from,
  to {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}