.DrawerToggle {
    width          : 40px;
    height         : 90%;
    display        : flex;
    flex-flow      : column;
    justify-content: space-around;
    align-items    : center;
    padding        : 5px 0;
    box-sizing     : border-box;
    cursor         : pointer;
}

.DrawerToggle div {
    width           : 90%;
    height          : 2px;
    background-color: white;
}

@media (min-width: 481px) {
    .DrawerToggle {
        display: none;
    }
}