.Modal {
    position  : fixed;
    z-index   : 99;
    width     : auto;
    height    : 100%;
    margin    : auto;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    overflow-y: auto;
}

@media (min-width: 481px) {
    .Modal {
        left: 34%;
    }
}