.NavigationItems {
    margin          : 0;
    padding         : 0;
    list-style      : none;
    display         : flex;
    flex-flow       : column;
    background-color: transparent;

}

@media(min-width: 481px) {
    .NavigationItems {
        flex-flow: row;
    }
}

@media(max-width: 480px) {
    .NavigationItems {
        padding-top : 5vh;
        padding-left: 8vw;
    }
}